{%extends 'base_admin.html.twig'%}
{%block stylesheets%}
<style>
.body{
    height:200px;
}
     
.submit{
            margin-left: 80%;
            margin-bottom: 20px;
            margin-top: -45px;
        }
</style>
{%endblock%}
{%block body%}

         <div class="block-header">
            <h2>{{course.label}}</h2>
        </div>
        <!-- Basic Example -->
        <div class="row clearfix">
            <a href="{{path('document_new')}}" class="submit btn btn-primary m-t-15 waves-effect">ADD DOCUMENT</a>
            {%for document in course.documents%}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="header" style="background-color: {{document.color}}">
                        <h2>
                           {{document.label}} 
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                    <p>  {{document.content}}</p>
                    </div>
                </div>
            </div>
            {%endfor%}
           
        </div>
  

{%endblock%}
{%block scripts%}
<script>
   $('.container-fluid.card').removeClass();
</script>
{%endblock%}