
{% extends 'base_admin.html.twig' %}

{% block title %}Course Edit{% endblock %}
{%block stylesheets%} 
    <style>
       
        .submit{
            margin-left: 85%;
            margin-bottom: 10px;
        }
        .state {
        width: 25px;
        height: 25px;
        border-radius: 50px;
    }

    </style> 
    
{%endblock%}
{% block body %}
   <!-- Basic Examples -->
   <div class="header">
    <h2>{{course.label}}</h2>
</div>
             <div class="body">
                          
                            <a href="{{path('document_new',{course_id:course.id})}}" class="submit btn btn-primary m-t-15 waves-effect">ADD DOCUMENT</a>
                           
                        </br>
                            
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <thead>
                                        <tr >
                                            <th>Label</th>
                                                       

                                                <th></th>
                                  
                                     
                                        </tr>
                                    </thead>
                                   
                                    <tbody>
                                        {% for document in course.documents %}  
                                            <tr  class="clickable_row"  data-href="{{ path('document_edit', {'id': document.id}) }}"   >
                                                
                                                <td>{{ document.label }}</td>
                                              
                                               
                                              
                                                
                                              
                                               
                                                <td>
                                                    <a href="{{ path('document_delete', {'id': document.id}) }}">delete</a>
                                                    
                                                   
                                                </td>
                                          
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="11">no records found</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                             <a class="back btn btn-danger m-t-15 waves-effect" href="{{ path('course_index') }}">back to list</a>
                             </div>
                            
                        </div>
 
{% endblock %}
{%block scripts%}
<script>
 $('.clickable_row').on('click',function(){
    window.location = $(this).data("href");
 });  
</script>
{%endblock%} 
