{% extends 'base_admin.html.twig' %}
 
{% block title %}Teachers{% endblock %}
{%block stylesheets%}
    <style>
       
        .submit{
            margin-left: 90%;
            margin-bottom: 10px;
        }
    </style>
{%endblock%}
{% block body %}
<div class="header">
    <h2>TEACHERS</h2>
</div>

<div class="body">
    <a href="{{path('teacher_new')}}" class="submit btn btn-primary m-t-15 waves-effect">ADD TEACHER</a>
</br>
    
    <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Job</th>
                <th>Email</th>
                <th>Number of Courses</th>
          
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr  class="clickable_row" data-href="{{ path('teacher_edit',{'id':teacher.id}) }}">
                
                <td><a href="{{ path('visit_profile',{'id':teacher.id}) }}">{{ teacher.username }} {{teacher.lastname}}</a></td>
                <td>{{teacher.job}}</td>
                <td>{{teacher.email}}</td>
                <td>{{teacher.courses|length}} courses</td>
                
                 <td>
                    <a href='{{ path("teacher_delete", {"id": teacher.id}) }}'>delete</a>
                 </td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>

   
{% endblock %}
{%block scripts%}
<script>
 $('.clickable_row').on('click',function(){
    window.location = $(this).data("href");
 });  
</script>
{%endblock%} 